@charset 'UTF-8';
@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
::selection {
  background-color: rgba(39, 75, 106, 0.3);
}
::-moz-selection {
  background-color: rgba(39, 75, 106, 0.3);
}
::-webkit-selection {
  background-color: rgba(39, 75, 106, 0.3);
}

/* @import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap'); */




body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/bedge_grunge.png) repeat;
  color: #546360;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 0.9em;
  font-weight: 400;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #274b6a;
  font-weight: 700;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

a:hover {
  color: #6387a6;
}
p {
  margin: 0;
  padding: 0;
}
h1 {
    /* color: #FFEF94; */
    font-size: 3em;
    margin: 0.5em;
}
h1, h2 {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Cabin Sketch', cursive;
  font-weight: 400;
  text-transform: lowercase;
}
#content {
  width: 80%;
  margin: 0 auto;
}
.section {
  border-top: 0.1em solid #546360;
  overflow: auto;
}
.section:nth-child(1) {
  border-top: none;
}
.title {
  text-align: center;
  margin-bottom: 0.5em;
}
.data {
  width: 50%;
}
.data div {
  margin: 2.4em 1.2em;
}
.data div div {
  margin: 1.2em 0;
}
.img-container, .img-anchor img {
  position: relative;
  /* width: 100%; */
}
.text-container div {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
.text-container a {
  border-bottom: 0.1em dotted #274b6a;
}
.text-container a:hover {
  border-bottom: 0.1em dotted #6387a6;
}
.quote {
  font-style: italic;
  margin-bottom: 0;
}
.left {
  float: left;
  text-align: right;
}
.left .quote {
  margin-right: 0;
  padding-right: 0.5em;
  border-right: 0.5em solid #FFEF94;
}
.right {
  float: right;
  text-align: left;
}
.right .quote {
  margin-left: 0;
  padding-left: 0.5em;
  border-left: 0.5em solid #FFEF94;
}
.img-anchor img {
  width: 35em;
}
.img-anchor:after {
  text-align: center;
  font-size: 1.5em;
  padding-top: 25%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: 'View full image?';
  color: #274b6a;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 1;
}
.img-anchor:hover:after {
  opacity: 0;
}


.footer {
  border-top: 0.1em solid #546360;
  z-index: 100;
}
.footer ul {
  font-size: 3em;
  padding: 0.5em 0;
  margin: 0;
}
.footer ul li {
  display: inline-block;
  margin: 0 0.5em;
}
#overlay-wrapper {
  display: none;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
#overlay-wrapper img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
  border: 0.5em solid #274b6a;
  border-radius: 0.8em;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}
#overlay-wrapper img:hover {
  border: 0.5em solid #6387a6;
}
#banner {
  background: url(images/hotairballoon.jpg) no-repeat fixed 50% 0;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#banner-text {
  color: rgb(9, 9, 7);
  width: 24em;
  position: fixed;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -12em;
  padding: 2em 0;
  cursor: pointer;
  -webkit-transition: border 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s;
  transition: border 0.3s ease 0s, color 0.3s ease 0s, background 0.3s ease 0s;
}
#banner-text:hover {
  color: rgb(252, 235, 137);
}
#banner-text:hover #logo div {
  background-color: #6387a6;
}
#banner-button {
  display: block;
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/bedge_grunge.png) repeat;
  bottom: 0px;
  height: 22px;
  padding: 10px 0;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: height 0.3s ease 0s, color 0.3s ease 0s;
  -o-transition: height 0.3s ease 0s, color 0.3s ease 0s;
  transition: height 0.3s ease 0s, color 0.3s ease 0s;
}
#banner-button:hover {
  color: #FFEF94;
  height: 37px;
}
#logo {
  width: 22em;
  height: 7em;
}
#logo div {
  position: absolute;
  background-color: #546360;
  height: 0.7em;
  webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.ball {
  top: 5em;
  width: 0.7em;
  border-radius: 0.7em;
}
.beam {
  top: 5em;
  width: 4.4em;
}
.up {
  -moz-transform: skew(20deg, -70deg);
  -webkit-transform: skew(20deg, -70deg);
  -o-transform: skew(20deg, -70deg);
  -ms-transform: skew(20deg, -70deg);
  transform: skew(20deg, -70deg);
}
.down {
  -moz-transform: skew(-20deg, 70deg);
  -webkit-transform: skew(-20deg, 70deg);
  -o-transform: skew(-20deg, 70deg);
  -ms-transform: skew(-20deg, 70deg);
  transform: skew(-20deg, 70deg);
}
#ball-left {
  left: 2em;
}
#ball-right {
  left: 21.3em;
}
#beam-left {
  left: 2.3em;
}
#beam-right {
  left: 17.3em;
}
#up-one {
  top: 3.7em;
  left: 6.6em;
  width: 1em;
}
#down-one {
  top: 5em;
  left: 7.4em;
  width: 2em;
}
#up-two {
  top: 5em;
  left: 9.2em;
  width: 2em;
}
#down-two {
  top: 5em;
  left: 11em;
  width: 2em;
}
#up-three {
  top: 5em;
  left: 12.8em;
  width: 2em;
}
#down-three {
  top: 5em;
  left: 14.6em;
  width: 2em;
}
#up-four {
  top: 6.4em;
  left: 16.4em;
  width: 1em;
}




/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* *{box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0} */
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}